<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" style='cursor:default' >WebSiteName 2</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="main_page.php">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">추천책 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="recommend_board.php">역사</a></li>
              <li><a href="recommend_board.php">백과사전</a></li>
              <li><a href="recommend_board.php">철학</a></li>
              <li><a href="recommend_board.php">종교</a></li>
              <li><a href="recommend_board.php">사회과학</a></li>
              <li><a href="recommend_board.php">자연과학</a></li>
              <li><a href="recommend_board.php">기술과학</a></li>
              <li><a href="recommend_board.php">예술</a></li>
              <li><a href="recommend_board.php">어학</a></li>
              <li><a href="recommend_board.php">문학</a></li>
              <li><a href="recommend_board.php">역사</a></li>
          </ul>
        </li>
        <li><a href="openBoard.php">자유게시판</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="donate_book.php">도서기부<span class="caret"></span></a>
          <ul class='dropdown-menu'>
            <li><a href="donate_book.php">역사</a></li>
            <li><a href="donate_book.php">백과사전</a></li>
            <li><a href="donate_book.php">철학</a></li>
            <li><a href="donate_book.php">종교</a></li>
            <li><a href="donate_book.php">사회과학</a></li>
            <li><a href="donate_book.php">자연과학</a></li>
            <li><a href="donate_book.php">기술과학</a></li>
            <li><a href="donate_book.php">예술</a></li>
            <li><a href="donate_book.php">어학</a></li>
            <li><a href="donate_book.php">문학</a></li>
            <li><a href="donate_book.php">역사</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><span class="glyphicon" style='cursor:default'>**님 환영합니다.</span></a></li>
        <li><a href="login_form.php"><span class="glyphicon glyphicon-log-out"></span> 로그아웃</a></li>
      </ul>
    </div>
  </nav>